body {

    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e6f2;
}

h1 {
    color: #060182;
    margin-bottom: 50px;
}

.containerExecutar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 150px);
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

button {
    margin-bottom: 20px;
    padding: 0.75rem 2rem;
    background-color: #060182;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(1, 35, 75);
}

button.Excel {
    margin-left: 20px;
    border: 2px solid #060182;
    background-color: transparent;
    color: #060182;
    transition: background-color 0.3s ease;
}

button.Excel:hover {
    background-color: #060182;
    color: white;
}


button.Sair {
    background-color: red !important;
}

button.Sair:hover {
    background-color: rgb(192, 2, 2) !important;
}

p {
    text-align: center;
    font-weight: bold;
    color: green;
    margin-top: 2rem;
}

.botao-download {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.6rem 1.4rem;
    background-color: #060182;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao-download:hover {
    background-color: #000d3a;
}